{%  extends 'base/base.html'  %}
{%  load static  %}

{% block content  %}
<body>
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <img src="https://i.postimg.cc/FK2YMSd0/profile-pic2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-left">
                <div class="textauthor">
                    <h3>Ammar Al faruqi</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione culpa inventore laudantium pariatur iusto nostrum esse, neque corporis incidunt maiores sed earum id asperiores exercitationem illo modi quaerat optio laborum!</p>
                    <table class='tableauthor'>
                        <tr>
                            <td>Alamat</td>
                            <td class="geser">: Jalan Danau Maninjau Nomor 32 Bandar Lampung</td>
                        </tr>
                        <tr>
                            <td>Telephone</td>
                            <td class="geser">: 089627725242</td>
                        </tr>
                        <tr>
                            <td>Education</td>
                            <td class="geser">: S1 Teknik Material Metalurgi</td>
                        </tr>
                        <tr>
                            <td>Profession</td>
                            <td class="geser">: Mentee Alpha Tech Academy</td>
                        </tr>
                        <tr>
                            <td>Nationality</td>
                            <td class="geser">: Indonesian</td>
                        </tr>
                        <tr>
                            <td>Company</td>
                            <td class="geser">: Kelas Terbuka</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td class="geser">: ammar@alterra.id</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13290.572151281025!2d112.60681034240623!3d-7.967310745469551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa77fa961a7c4e4b7!2sSepulsa+Lodge+Malang!5e0!3m2!1sid!2sid!4v1563897416269!5m2!1sid!2sid" width="700" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div> 
    <br>

    <br>
</body>

{%  endblock  %}