{%  extends 'base/base.html'  %}
{%  load static  %}

{% block content  %}
    <body>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/m2tgpQQg/benefit.png" alt="komputer">
                </div>
                <div class="col-md-8">
                    <h4>Learn awesome tech</h4>
                    <p>You will learn about programming languange, such as Pyhton and Javascript, build back-end apps using Flask framework with mircoservice concept, build client-site apps using React library, etc.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/L40HPnrK/search-job.png" alt="search">
                </div>
                <div class="col-md-8">
                    <h4>Land new job</h4>
                    <p>If you can pass this awesome program, you will be part of our reliable tech team for especially Software Engineer position and other tech position such as Quality Engineer, System Analyst, etc. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/hj2Kpjvm/get-paid.png" alt="uang">
                </div>
                <div class="col-md-8">
                    <h4>Get paid to learn</h4>
                    <p>Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things even better, you will receive pocket money just for participatin. Cool, right? </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://i.postimg.cc/Pq4H5xm7/mission.png" alt="orang">
                </div>
                <div class="col-md-8">
                    <h4>Who are we?</h4>
                    <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not even an IT background) to learn within 3 months of being a profesional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia.</p>
                    <br>
                    <br>
                    <h4>What is our mission?</h4>
                    <p>We want to improve capability Tech Talent in Indonesia.</p>
                </div>
            </div>
        </div>
        
        <br>
        <br>
        <div class="text-center">
            <h4>What will you learn?</h4>
        </div>

        <br>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row justify-content-around">
                        <div class="col-3 text-center">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/ZqFbvjhV/learn-html.png" alt="">
                                    </td>
                                </tr>
                            </table>    
                        </div>
                        <div class="col-3 text-center box">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/c424prmM/learn-programming.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3 text-center  box">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/vBYQr9YM/learn-git.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3 text-center  box">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/m2zTyTsc/learn-api.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row justify-content-center">
                        <div class="col-3 text-center box">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/6qTtSX4m/learn-react.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3 text-center box">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/GmDhddg0/learn-tdd.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3 text-center box">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/c4p0DPxF/learn-server.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3 text-center box">
                            <table class="kotak border border-grey">
                                <tr>
                                    <td>
                                        <img src="https://i.postimg.cc/vTjbwNWH/learn-scrum.png" alt="">
                                    </td>
                                </tr>
                            </table>
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

    </body>
{%  endblock  %}